.primary-button {
    background-color: $white;
    padding: 0.5rem 2rem;
    border: 2px solid $smoky-black;
    font-family: $raleway;
    font-size: $medium;
    font-weight: $fw-bold;
    cursor: pointer;
    &:hover {
        border: 2px solid $isabelline;
    }

    &:focus {
        border: 2px solid $isabelline;
        color: $light-gray;
    }

}

.form-button {
    &__subscribe {
        background-color: $white;
        min-width: 100%;
        min-height: 100%;
        border: 0;
        cursor: pointer;
    }

    &__btn-text {
        transform: rotate(90deg);
        display: block;
        color: $smoky-black;
        font-family: $old-standard;
        font-size: $x-large;
        font-weight: $fw-bold;
    } 
}