.header {
    background: url('../img/imagen1.png');
    background-size: cover;
    background-position: top center;
}

@include tablet_view {
        .header {
            height: 19rem;
            background-position: top;
        }
}
@include mobile_view {
        .header {
            height: 14rem;
            background-position: top;
        }
}